@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --input-color: #333;
    --input-border: #ccc;
    --input-background: #fff;
    --input-placeholder: #999;
    --input-border-focus: #007bff;
}

body {
  background-image: url('./images/liquid-marbling-paint-texture-background-fluid-painting-abstract-texture-intensive-color-mix-wallpaper.jpg');
  background-size: cover;
  height: 100vh;
  font-family: "Ubuntu", Noto Sans, Helvetica, sans-serif ;
  margin: 0;
  overflow: hidden;
}

.topbar {
  position: absolute;
  width: 100%;
  display: flex;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.25);
  color: #fff;
  justify-content: space-between;
  padding: 8px 16px;
  box-sizing: border-box;
  z-index: 2;
}

.topbar p {
  margin: 0;
}

.topbar .os-name {
  font-weight: 700;
  cursor: pointer;
}

.window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid;
  width: 300px;
  border-radius: 16px;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.windowheader {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: grab;
  justify-content: space-between;
  margin-bottom: 8px;
}

.headertext {
  margin: 0;
  color: #333;
  font-weight: 500;
}

.closebutton {
  width: 16px;
  height: 16px;
  cursor: pointer;
  background-color: #EC6B5E;
  border-radius: 16px;
  border: solid 1px rgba(0, 0, 0, 0.25);
}

.window img {
  width: 128px;
  height: 128px;
  border-radius: 16px;
  object-fit: cover;
  margin: 20px auto;
  overflow: hidden;
}

.window h1 {
  margin: 4px;
  color: #333;
  overflow: hidden;
}

.window h2 {
  margin: 4px;
  color: #555;
  overflow: hidden;
}

.window p {
  color: #666;
  overflow: hidden;
}

.window .content-box {
  border: solid;
  padding: 10px;
  margin: 20px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.window .content-box p {
  margin: 0;
  overflow: hidden;
}

.window .content-box a {
  color: #007bff;
  text-decoration: none;
  overflow: hidden;
}

.app-icon {
  cursor: pointer;
}

.app-icon.selected {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}

iframe {
       width:200%;
       margin:0;
       max-width:none;
       transform:scale(1);
       transform-origin:left top;
}
button.expand {
	--button-height: 48px;
	overflow: hidden;
	outline: none;
	background-color: #1f2024;
	border-radius: 10px;
	padding: 12px 25px;
	font-size: 1.1em;
	border: none;
	color: white;
	font-family: "Nunito", sans-serif;
	cursor: pointer;
	position: relative;
	transition: padding 0.3s;
}

.expand-icon {
	--icon-size: 10px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	height: var(--button-height);
	width: var(--button-height);
	border-left: 1px solid #eee;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateX(calc(var(--button-height) + 1px));
	transition: transform 0.3s;
}

.expand-icon > svg {
	height: var(--icon-size);
	width: var(--icon-size);
	transform: scale(1.5);
	transition: transform 0.3s;
}

.expand-icon > svg.second {
	display: none;
	transform: scale(0) translateY(50px);
	transition: transform 0.3s;
}

button.expand:hover,
button.expand.loading {
	padding-right: calc(25px + var(--button-height));
}

button.expand:hover > .expand-icon,
button.expand.loading > .expand-icon {
	transform: translateX(0);
	transition: transform 0.3s 0.05s;
}

button.expand.loading > .expand-icon > svg {
	transform: scale(0);
}

@keyframes rotate {
	0% {
		transform: scale(0.3) rotateZ(0deg);
	}
	100% {
		transform: scale(0.3) rotateZ(360deg);
	}
}

.loader {
	--loader-size: 52px;
	height: var(--loader-size);
	width: var(--loader-size);
	border: 4px solid white;
	border-left-color: transparent;
	border-right-color: transparent;
	background-color: transparent;
	border-radius: 50%;
	animation: rotate 1.5s linear infinite;
	position: absolute;
	right: 0;
	opacity: 0;
	pointer-events: none;
	transition: opacity 1s 0.3s;
}

button.expand.loading > span > span.loader {
	opacity: 1;
}

button.expand.loaded > span > span.loader {
	opacity: 0 !important;
}

button.expand.loaded > .expand-icon > svg.first {
	display: none;
}

button.expand.loaded > .expand-icon > svg.second {
	display: block;
}

button.expand.finished > .expand-icon > svg.second {
	transform: scale(1.5) translateY(0px);
}
.form-field {
    display: block;
    width: 100%;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 7px;
    appearance: none;
    color: var(--input-color);
    border: 1px solid var(--input-border);
    background: var(--input-background);
    transition: border .3s ease;
    &::placeholder {
        color: var(--input-placeholder);
    }
    &:focus {
        outline: none;
        border-color: var(--input-border-focus);
    }
}